<div class="contenedor justify-content-center">
<h3 class="mt-3 text-center">developers</h3>
<div class="subcontenedor d-flex mt-3 justify-content-center">
    
      <div class="card" style="width: 90%;">
        <img src="https://www.yamamotonutrition.com/imgatleti/b19.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Juan Sebastian Rojas </h5>
          <p class="card-text" style="text-align: justify;">Cursante del ultimo curso en el csma, con un el mejor icfes asegurado que la institucion ha visto, ciclista y a futuro ingienero</p>
        </div>
      </div>
</div>

<div class="subcontenedor d-flex mt-3 justify-content-center">
    <div class="card" style="width: 90%;">
        <img src="https://e1.pxfuel.com/desktop-wallpaper/1006/643/desktop-wallpaper-chris-bumstead-on-instagram-and-still-c-bum-thumbnail.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Juan Sebastian Rojas </h5>
          <p class="card-text" style="text-align: justify;">Cursante del ultimo curso en el csma, con un el mejor icfes asegurado que la institucion ha visto, ciclista y a futuro ingienero</p>
        </div>
      </div>
      
</div>

</div>
