<div class="contenedor">
<div class="subcontenedor mx-3">
    <h3 class=""text-center mt-3>bienvidos a csma</h3>
    <img class="text-center mt-3" src="https://fastly.4sqi.net/img/general/600x600/QP7syVHm9iyexRG7l465O8wmAmUnYl0Ca2tZ2aTBEz4.jpg" >
    <p style="text-align: justify;">la primera se desespera, se encojona si se lo hecho afuera, la seguna pide la funda, y me paga pa q se le huna, la tercera me quita el es trestres, entre soplo y soplo nos vamos en 3. Debido a esto es que se fundamenta la abstinencia de la persona de nombre barragan ante su perdida en las votacione contra su opente, sara aponte, barragana muy dolido de eta situacion ny con la compañia en llanto a muerte de su mama y hermanos, se dirigio a subir al barramovil</p>
    <b>conformado por:</b>
    <code>pipe (pipelon) felipe(pipelito) </code>
</div>
   
</div>

